<h3>Héroe <small>Nombre...</small></h3>
<button [routerLink]="['heroes']" class="btn btn-outline-danger">Regresar</button>
<hr>

<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <form action="">

      <div class="form-group">
        <label>Nombre</label>
        <input type="text" name="" class="form-control" placeholder="Nombre del heroe" required>
      </div>

      <div class="form-group">
        <label>Casa</label>
        <select name="" id="" class="form-control">
          <option value="Marvel">Marvel</option>
          <option value="DC">DC</option>
        </select>
      </div>

      <div class="form-group">
        <label>Bio</label>
        <textarea type="text" name="" class="form-control" placeholder="" required></textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-outline-primary">Guardar Cambios</button>
      </div>

    </form>
  </div>
</div>
