<h1>Heroes</h1>

<hr>

<div class="row animated fadeIn fast">
  <div class="col-md-12 text-right">
    <button [routerLink]="['/heroe', 'id']" class="btn btn-outline-primary" type="button" name="button">Nuevo Héroe</button>
  </div>
</div>

<div class="row animated fadeIn fast" style="margin-top: 15px;">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col" class="text-center">Nombre</th>
          <th scope="col" class="text-center">Casa</th>
          <th scope="col" class="text-center">Biografía</th>
          <th scope="col" class="text-center">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let k of heroes | keys; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{heroes[k].nombre}}</td>
          <td>{{heroes[k].casa}}</td>
          <td>{{heroes[k].bio}}</td>
          <td class="text-center">
            <button [routerLink]="['/heroe', k]" type="button" class="btn btn-outline-success" style="margin-right: 10px;">
              Editar
            </button>
            <button (click)="borrarHeroe(k)" type="button" class="btn btn-outline-danger">
              Eliminar
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="(heroes | keys).length === 0 && !loading" class="alert alert-info" role="alert">
        <strong>No hay </strong><span>registros que mostrar</span>
      </div>

      <div *ngIf="loading" class="alert alert-warning" role="alert">
        <strong>Cargando... </strong><span>Por favor espere</span>
      </div>

    </div>
  </div>
</div>
